@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global CSS file */
/* Add this to your global CSS file */
@keyframes spinAndGrow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.spin-and-grow {
  animation: spinAndGrow 1s infinite linear;
}
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #072635;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@layer components {
  .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
  }
  .hamburger div:last-child {
    @apply -rotate-45 -translate-y-1;
  }
}
*{
  @apply transition-colors duration-200
}